body {
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	width: 80%;
	padding: 0;
	margin: 5% 10% 0 10%;
}

.unity-view {
    float: left;
	background-color: #fcfcfc;
	width: 60%;
	height: 400px;
	margin: 10px auto 40px auto;
}

.customize-container {
    float: left;
	width: 40%;
	margin: 0 auto 0 auto;
}

.customize-section {
	float: left;
	height: 30px;
	line-height: 1.25em;
	font-size: 1.25em;
	margin: 0 1.05em 0 1px;
	cursor: pointer;
}

.customize-section:first-of-type {
	margin-left: 0;
}

.customize-section:last-of-type {
	margin-right: 0;
}

.active-section {
	font-size: 1.45em;
    line-height: 0.95em;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
}

.customize-area {
	min-height: 100px;
	padding-top: 20px;
	clear: left;
}

.board-preset {
	float: left;
	width: 33.33333%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #fff;
}

.board-preset img {
	padding-right: 10px;
	width: 100px;
	margin: 0 auto 0 auto;
	vertical-align: middle;
	cursor: pointer;
}

.color-preset {
	float: left;
	margin: 5px;
	width: 25px;
	height: 25px;
	border: 5px solid #e8e8e8;
	border-radius: 25px;
}

.color-preset:hover {
	border: 5px solid #a1a1a1;
}

.wheel-preset {
	float: left;
    cursor: pointer;
    width: 33.333333%;
}

.wheel-preset img {
	width: 50px;
    display: block;
    margin: 0 auto 0 0;
}

.two-slider-wrapper {
	float: left;
	width: 100%;
	margin: 0 auto 0 auto;
}

.two-slider-wrapper > .board-slider {
	margin-left: 8%;
	margin-right: 8%;
}

.ui-widget-content {
	border: 1px solid #aaaaaa/*{borderColorContent}*/;
	background: #000000/*{bgColorContent}*/;
	color: #222222/*{fcContent}*/;
}

.ui-slider-horizontal {
	height: 4px;
	width: 80%;
	margin: 1.50em auto 1.25em auto;
}

.ui-slider-horizontal .ui-slider-handle {
	border: .25em solid #ffffff;
	border-radius: 25px;
	top: -0.75em;
}

.ui-state-active, .ui-slider-horizontal .ui-slider-handle, .ui-widget-content .ui-state-active, .ui-state-default .ui-state-hover {
	background: #6b000c;
}

.ui-slider-horizontal .ui-slider-handle, .ui-state-default {
	background: #000000;
}

.board-slider {
	float: left;
	width: 50%;
}

.board-slider.full-width {
    width: 100%;
}

.board-slider.full-width .ui-slider-horizontal {
    width: 90%;
}

.customize-sub-section {
	color: #bfbfbf;
	margin-bottom: 0.8em;
}

.sp-replacer {
	float: left;
    margin-top: 6px;
    margin-left: 5px;
    border: none;
}

.row {
	float: left;
	clear: both;
	width: 100%;
}

.bottom-spacer {
	height: 15em;
    clear: both;
}


